<nav
  [ngClass]="
    currentRoute === '/home' ? 'bg-black text-white' : 'bg-white text-black'
  "
  class="shadow-header sticky top-0 z-[60]"
>
  <div class="mx-auto max-w-[1440px] px-4 sm:px-6 lg:px-8">
    <div class="flex h-[4.5rem] items-center justify-around">
      <div class="flex items-center" data-svelte-h="svelte-1vtvg0e">
        <a [routerLink]="['home']" class="group flex items-center"
          ><img
            src="assets/images/logo.svg"
            alt="DrCOPD"
            class="h-14 w-auto transition-transform duration-300 group-hover:scale-110"
          />
          <span class="ml-3 text-2xl font-semibold tracking-tight text-blue-600"
            ><span class="text-blue-600">Dr</span>COPD</span
          ></a
        >
      </div>
      <div
        class="hidden min-[820px]:flex min-[820px]:gap-x-4 min-[890px]:gap-x-6"
      >
        <a
          [routerLink]="['home']"
          routerLinkActive="underline underline-offset-4 text-blue-600"
          class="text-nav text-drcopd-blue border-drcopd-blue inline-flex items-center px-1 pt-1 font-medium transition-all duration-250"
          >Home
        </a>
        <a
          [routerLink]="['/about']"
          routerLinkActive="underline underline-offset-4 text-blue-600"
          class="text-nav text-drcopd-gray-600 hover:text-drcopd-navy hover:border-drcopd-gray-300 inline-flex items-center px-1 pt-1 font-medium transition-all duration-250"
          >About COPD
        </a>
        <a
          [routerLink]="['symptoms']"
          routerLinkActive="underline underline-offset-4 text-blue-600"
          class="text-nav text-drcopd-gray-600 hover:text-drcopd-navy hover:border-drcopd-gray-300 inline-flex items-center px-1 pt-1 font-medium transition-all duration-250"
          >Symptoms
        </a>
        <a
          [routerLink]="['/treatments']"
          routerLinkActive="underline underline-offset-4 text-blue-600"
          class="text-nav text-drcopd-gray-600 hover:text-drcopd-navy hover:border-drcopd-gray-300 inline-flex items-center px-1 pt-1 font-medium transition-all duration-250"
          >Treatments
        </a>
      </div>
    </div>
  </div>
</nav>
