<!-- <p-timeline [value]="events" align="left" styleClass="customized-timeline">
  <ng-template #marker let-event>
    <span
      class="z-10 flex h-8 w-8 items-center justify-center rounded-full text-white shadow-sm"
      [style]="{ 'background-color': event.color }"
    >
      <i [class]="event.icon"></i>
    </span>
  </ng-template>
  <ng-template #content let-event>
    <p-card [header]="event.status">
      {{ event.title }}
    </p-card>
  </ng-template>
</p-timeline> -->

<section class="mb-16 pt-16">
  <div class="text-center">
    <h2 class="text-brandColorPrimary mb-4 text-3xl font-semibold">
      Your DrCopd Treatment Journey
    </h2>
    <p class="text-center text-2xl">Step-by-Step:</p>
  </div>
  <div
    class="relative mx-auto mt-10 max-w-[540px] cursor-pointer space-y-16 p-20 shadow-[0px_0px_27px_-1px_rgba(0,_0,_0,_0.1)]"
  >
    <div
      (click)="onClickStep(service.id)"
      *ngFor="let service of services"
      class="group relative flex"
    >
      <div
        class="absolute -left-8 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full border-2"
        [ngClass]="
          service.active
            ? 'bg-brandColorPrimary border-brandColorPrimary text-white'
            : 'border-gray-300 text-gray-600'
        "
      >
        <span class="cursor-pointer font-semibold">{{ service.id }}</span>
      </div>

      <div
        *ngIf="service.id !== 7"
        [ngClass]="service.active ? 'h-[80px]' : 'h-[30px]'"
        class="border-borderColor absolute top-14 -left-3.5 border-2"
      ></div>

      <div class="ml-4 cursor-pointer gap-4">
        <div class="">
          <h3 class="text-lg font-semibold whitespace-nowrap">
            {{ service.title }}
          </h3>
          <p
            [ngClass]="service.active ? 'flex' : 'hidden'"
            class="mt-2 text-sm text-gray-600"
          >
            {{ service.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
