<section class="mb-16 pt-16">
  <div class="mx-auto w-[500px]">
    <h2 class="text-brandColorPrimary mb-4 text-3xl leading-snug font-semibold">
      {{ "Your DrCopd Treatment Journey" | translate }}<br />
      <span class="text-base font-normal">
        {{ "Step-by-Step:" | translate }}
      </span>
    </h2>
  </div>

  <div
    class="relative mx-auto mt-10 max-w-[540px] cursor-pointer space-y-16 p-20 shadow-[0px_0px_27px_-1px_rgba(0,_0,_0,_0.1)]"
  >
    <div
      (click)="onClickStep(service.id)"
      *ngFor="let service of services"
      class="group relative flex"
    >
      <div
        class="absolute -left-8 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full border-2"
        [ngClass]="
          service.active
            ? 'bg-brandColorPrimary border-brandColorPrimary text-white'
            : 'border-gray-300 text-gray-600'
        "
      >
        <span class="cursor-pointer font-semibold">{{ service.id }}</span>
      </div>

      <div
        *ngIf="service.id !== 7"
        [ngClass]="service.active ? 'h-[80px]' : 'h-[30px]'"
        class="border-borderColor absolute top-14 -left-3.5 border-2"
      ></div>

      <div class="ml-4 cursor-pointer gap-4">
        <div>
          <h3 class="text-lg font-semibold whitespace-nowrap">
            {{ service.title | translate }}
          </h3>
          <p
            [ngClass]="service.active ? 'flex' : 'hidden'"
            class="mt-2 text-sm text-gray-600"
          >
            {{ service.description | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
