<app-cta-popup
  *ngIf="isPopupVisible"
  [isVisible]="isPopupVisible"
  [title]="'Immediate Action Required'"
  [description]="
    'If you have these symptoms consult our COPD specialists immediately.'
  "
  [primaryButtonText]="'Book Free Video Call'"
  [secondaryButtonText]="'Maybe Later'"
  [smallText]="'Offer expires in 24 hours • Terms apply'"
  [autoClose]="true"
  [autoCloseDelay]="8000"
  [showProgress]="true"
  (primaryAction)="handlePrimaryAction()"
  (secondaryAction)="handleSecondaryAction()"
  (closed)="handlePopupClosed()"
></app-cta-popup>

<div class="mx-5 mb-[80px] lg:mx-[250px]">
  <h2 class="text-brandColorPrimary mt-5 mb-10 text-center text-4xl font-bold">
    Common Symptoms
  </h2>

  <section class="flex flex-wrap justify-center gap-5 px-5">
    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/cough.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Persistent cough with mucus
      </h2>
      <p class="mt-5 text-gray-600">
        A chronic cough that produces phlegm is often an early sign of COPD,
        caused by airway inflammation and mucus buildup.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/heart-problem.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Shortness of breath, especially with activity
      </h2>
      <p class="mt-5 text-gray-600">
        Difficulty breathing during physical exertion occurs as lung function
        declines and airflow becomes restricted.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/wheezing.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">Wheezing</h2>
      <p class="mt-5 text-gray-600">
        A high-pitched whistling sound while breathing, caused by narrowed or
        obstructed airways due to inflammation.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/breathlessness.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">Chest tightness</h2>
      <p class="mt-5 text-gray-600">
        A feeling of pressure or heaviness in the chest, often resulting from
        trapped air and reduced airflow in the lungs.
      </p>
    </div>

    <div
      class="border-borderColor mb-[80px] flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/cough.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Frequent respiratory infections
      </h2>
      <p class="mt-5 text-gray-600">
        People with COPD are more prone to infections like bronchitis or
        pneumonia, which worsen symptoms and lung damage.
      </p>
    </div>
  </section>

  <div class="-mx-5 lg:-mx-[250px]">
    <div
      class="border-borderColor flex flex-col justify-center gap-10 border-t border-b bg-[#e8e8e8b5] px-4 py-18 lg:flex-row"
    >
      <video
        class="w-full rounded-2xl lg:ml-15 lg:h-[495px] lg:w-[875px]"
        controls
      >
        <source src="assets/videos/symptoms.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="flex flex-col gap-5 text-center lg:text-left">
        <span class="text-gray-600 uppercase">We change lives:</span>
        <h2 class="text-brandColorPrimary text-4xl leading-[50px] font-bold">
          Schedule a Free Consultation Now
        </h2>
        <form action="#" method="POST" class="mt-6 grid gap-3">
          <input
            type="text"
            name="first-name"
            id="first-name"
            autocomplete="given-name"
            placeholder="First name"
            class="border-borderColor bg-borderColor rounded-md border px-3 py-2 text-sm text-gray-300 placeholder-gray-500"
          />
          <input
            type="text"
            name="last-name"
            id="last-name"
            autocomplete="family-name"
            placeholder="Last name"
            class="border-borderColor bg-borderColor rounded-md border px-3 py-2 text-sm text-gray-300 placeholder-gray-500"
          />
          <input
            type="text"
            name="phone-number"
            id="phone-number"
            placeholder="+1 123-456-7890"
            class="border-borderColor bg-borderColor rounded-md border px-3 py-2 text-sm text-gray-300 placeholder-gray-500"
          />
          <textarea
            name="message"
            id="message"
            rows="3"
            placeholder="Please state when and how you want to be contacted"
            class="border-borderColor bg-borderColor rounded-md border px-3 py-2 text-sm text-gray-300 placeholder-gray-500"
          ></textarea>
          <button
            type="submit"
            class="bg-brandColorPrimaryHover mt-2 w-full rounded-md px-4 py-2 text-sm font-semibold text-white transition-all duration-300 hover:scale-104"
          >
            Let's talk
          </button>
        </form>
      </div>
    </div>
    <!-- <app-cta2></app-cta2> -->
    <app-compact-contact-us></app-compact-contact-us>
  </div>
</div>

<!-- Immediate Attention Section -->
<h2
  class="text-brandColorPrimary mt-[1300px] mb-10 text-center text-4xl font-bold"
>
  Immediate Action Required
</h2>

<div class="mx-auto flex max-w-[950px] flex-col">
  <p class="mb-5 text-center text-gray-700">
    If you are experiencing one or more of the symptoms below, you should take
    urgent action and have the necessary examinations.
  </p>
  <p class="text-center text-gray-700">
    Early diagnosis of COPD is crucial because it slows disease progression,
    improves quality of life, reduces flare-ups, supports smoking cessation,
    prevents complications, and enables more effective, less costly treatment.
  </p>
</div>

<section class="mt-[80px] flex flex-wrap justify-center gap-5">
  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img
        class="h-auto w-[40px]"
        src="assets/images/heart-attack.svg"
        alt=""
      />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Sudden chest pain or shortness of breath
      </h2>
      <p class="px-5 text-center text-gray-600">
        May indicate a pneumothorax (collapsed lung), which requires immediate
        medical attention to prevent further respiratory distress.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/fever.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Fever or increased cough
      </h2>
      <p class="px-5 text-center text-gray-600">
        Could be a sign of a respiratory infection such as pneumonia or
        bronchitis, especially concerning if symptoms worsen rapidly.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/mucus.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mx-5 mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Increased mucus or blood in sputum
      </h2>
      <p class="px-5 text-center text-gray-600">
        May suggest an infection, inflammation, or bleeding in the lungs or
        airways, and should be evaluated promptly.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/oxygen.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Drop in oxygen levels
      </h2>
      <p class="px-5 text-center text-gray-600">
        Indicates impaired lung function or oxygen exchange, potentially leading
        to hypoxia; urgent assessment and intervention are needed.
      </p>
    </div>
  </div>
</section>
