<div class="mb-[80px]">
  <h2 class="text-brandColorPrimary mt-5 mb-10 text-center text-4xl font-bold">
    Common Symptoms
  </h2>

  <section class="flex flex-wrap justify-center gap-5 px-5">
    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/cough.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Persistent cough with mucus
      </h2>
      <p class="mt-5 text-gray-600">
        A chronic cough that produces phlegm is often an early sign of COPD,
        caused by airway inflammation and mucus buildup.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/heart-problem.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Shortness of breath, especially with activity
      </h2>
      <p class="mt-5 text-gray-600">
        Difficulty breathing during physical exertion occurs as lung function
        declines and airflow becomes restricted.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/wheezing.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">Wheezing</h2>
      <p class="mt-5 text-gray-600">
        A high-pitched whistling sound while breathing, caused by narrowed or
        obstructed airways due to inflammation.
      </p>
    </div>

    <div
      class="border-borderColor mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/breathlessness.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">Chest tightness</h2>
      <p class="mt-5 text-gray-600">
        A feeling of pressure or heaviness in the chest, often resulting from
        trapped air and reduced airflow in the lungs.
      </p>
    </div>

    <div
      class="border-borderColor mb-[80px] flex max-w-full min-w-[300px] flex-1 flex-col items-center rounded-2xl border-1 p-5"
    >
      <img
        class="mt-2.5 h-auto w-[110px]"
        src="assets/images/cough.svg"
        alt=""
      />
      <h2 class="text-brandColorPrimary text-2xl font-bold">
        Frequent respiratory infections
      </h2>
      <p class="mt-5 text-gray-600">
        People with COPD are more prone to infections like bronchitis or
        pneumonia, which worsen symptoms and lung damage.
      </p>
    </div>
  </section>

  <div class="absolute right-0 left-0 w-full">
    <app-cta2></app-cta2>
  </div>
</div>

<!-- Immediate Attention Section -->
<h2
  class="text-brandColorPrimary mt-[370px] mb-10 text-center text-4xl font-bold"
>
  Immediate Action Required
</h2>

<div class="mx-auto flex max-w-[950px] flex-col">
  <p class="mb-5 text-center text-gray-700">
    If you are experiencing one or more of the symptoms below, you should take
    urgent action and have the necessary examinations.
  </p>
  <p class="text-center text-gray-700">
    Early diagnosis of COPD is crucial because it slows disease progression,
    improves quality of life, reduces flare-ups, supports smoking cessation,
    prevents complications, and enables more effective, less costly treatment.
  </p>
</div>

<section class="mt-[80px] flex flex-wrap justify-center gap-5">
  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img
        class="h-auto w-[40px]"
        src="assets/images/heart-attack.svg"
        alt=""
      />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Sudden chest pain or shortness of breath
      </h2>
      <p class="px-5 text-center text-gray-600">
        May indicate a pneumothorax (collapsed lung), which requires immediate
        medical attention to prevent further respiratory distress.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/fever.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Fever or increased cough
      </h2>
      <p class="px-5 text-center text-gray-600">
        Could be a sign of a respiratory infection such as pneumonia or
        bronchitis, especially concerning if symptoms worsen rapidly.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/mucus.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mx-5 mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Increased mucus or blood in sputum
      </h2>
      <p class="px-5 text-center text-gray-600">
        May suggest an infection, inflammation, or bleeding in the lungs or
        airways, and should be evaluated promptly.
      </p>
    </div>
  </div>

  <div
    class="group relative mb-8 flex max-w-full min-w-[300px] flex-1 flex-col items-center"
  >
    <div
      class="bg-brandColorPrimary ring-brandColorPrimary absolute -top-9 flex h-[60px] w-[60px] items-center justify-center rounded-full ring-2 ring-offset-2 transition-transform duration-300 group-hover:scale-110"
    >
      <img class="h-auto w-[40px]" src="assets/images/oxygen.svg" alt="" />
    </div>

    <div
      class="border-borderColor flex min-h-[300px] flex-col items-center rounded-xl border-1"
    >
      <h2
        class="text-brandColorPrimary mt-10 mb-5 text-center text-xl font-bold whitespace-break-spaces transition-transform duration-300 group-hover:scale-105"
      >
        Drop in oxygen levels
      </h2>
      <p class="px-5 text-center text-gray-600">
        Indicates impaired lung function or oxygen exchange, potentially leading
        to hypoxia; urgent assessment and intervention are needed.
      </p>
    </div>
  </div>
</section>
