<!-- Immediate Attention Section -->
<section class="mb-[40px]">
  <h2
    class="text-brandColorPrimary my-[40px] py-3 text-center text-4xl font-bold"
  >
    Don’t Ignore These COPD Symptoms — Get Evaluated Urgently
  </h2>

  <div class="mx-auto flex max-w-[950px] flex-col">
    <p class="text-center text-gray-700">
      Early diagnosis of COPD is crucial because it slows disease progression,
      improves quality of life, reduces flare-ups, supports smoking cessation,
      prevents complications, and enables more effective, less costly treatment.
    </p>
  </div>

  <div class="card mt-10 flex justify-center">
    <p-accordion [value]="['0']" [multiple]="true">
      <p-accordion-panel value="0">
        <p-accordion-header
          >1. Sudden chest pain or shortness of breath</p-accordion-header
        >
        <p-accordion-content>
          <p class="mt-3">
            May indicate a pneumothorax (collapsed lung), which requires
            immediate medical attention to prevent further respiratory distress.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>2. Fever or increased cough</p-accordion-header>
        <p-accordion-content>
          <p class="mt-3">
            Could be a sign of a respiratory infection such as pneumonia or
            bronchitis, especially concerning if symptoms worsen rapidly.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="2">
        <p-accordion-header
          >3. Increased mucus or blood in sputum</p-accordion-header
        >
        <p-accordion-content>
          <p class="mt-3">
            May suggest an infection, inflammation, or bleeding in the lungs or
            airways, and should be evaluated promptly.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="3">
        <p-accordion-header>4. Drop in oxygen levels</p-accordion-header>
        <p-accordion-content>
          <p class="mt-3">
            Indicates impaired lung function or oxygen exchange, potentially
            leading to hypoxia; urgent assessment and intervention are needed.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>

  <p class="mt-5 text-center text-gray-700">
    If you are experiencing one or more of the symptoms above, you should take
    urgent action and have the necessary examinations.
  </p>
</section>
