<div #box>
  <app-header *ngIf="!isMobile()"></app-header>
  <app-hamburger-menu *ngIf="isMobile()"></app-hamburger-menu>

  <!-- <h2 class="text-2xl">{{ "Hello" | translate }}</h2>

  <button (click)="switchLang('en')">En</button>
  <button (click)="switchLang('tr')">Tr</button> -->
</div>
<router-outlet></router-outlet>

<a
  href="https://wa.me/905322463569"
  class="whatsapp-float"
  target="_blank"
  rel="noopener"
  aria-label="Chat on WhatsApp"
>
  <img src="assets/images/whatsapp.png" alt="WhatsApp" />
</a>

<app-footer></app-footer>
