<div
  class="border-borderColor flex flex-col gap-10 border-t border-b bg-[#e8e8e8b5] px-4 py-18 lg:flex-row"
>
  <video class="w-full rounded-2xl lg:ml-15 lg:h-[495px] lg:w-[875px]" controls>
    <source src="assets/videos/video-english.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="flex flex-col gap-5 text-center lg:text-left">
    <span class="text-gray-600 uppercase">We change lives:</span>
    <h2 class="text-brandColorPrimary text-4xl leading-[74px] font-bold">
      COPD and AI – Dr. Arturo Loaiza Bonilla
    </h2>
  </div>
</div>
