<section id="testimonials" class="bg-gray-50 px-6 py-16">
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-xl text-center" data-svelte-h="svelte-5wdrcs">
      <h2
        class="text-brandColorPrimary mb-4 text-center text-3xl font-semibold"
      >
        Trusted by COPD Patients Worldwide
      </h2>
      <p class="mt-4 text-lg leading-8 text-gray-600">
        Real People, Real Results
      </p>
    </div>
    <div
      class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none"
    >
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div
          class="flex flex-col justify-between rounded-2xl bg-white p-8 shadow-lg ring-1 ring-gray-900/5"
        >
          <div>
            <div class="mb-6 flex items-center gap-x-4">
              <img
                class="h-16 w-16 rounded-full bg-gray-50"
                src="assets/images/patient1.BcBICDmO.jpg"
                alt="Carlos R."
              />
              <div>
                <h3
                  class="text-lg leading-6 font-semibold tracking-tight text-gray-900"
                >
                  Carlos R.
                </h3>
                <p class="text-sm text-gray-500">Mexico</p>
              </div>
            </div>
            <blockquote class="leading-7 text-gray-700">
              In the UK, I was told to wait 9 months. Here, I had my treatment
              in 3 weeks.
            </blockquote>
          </div>
        </div>
        <div
          class="flex flex-col justify-between rounded-2xl bg-white p-8 shadow-lg ring-1 ring-gray-900/5"
        >
          <div>
            <div class="mb-6 flex items-center gap-x-4">
              <img
                class="h-16 w-16 rounded-full bg-gray-50"
                src="assets/images/patient2.D5XRFvzJ.jpg"
                alt="Amina K."
              />
              <div>
                <h3
                  class="text-lg leading-6 font-semibold tracking-tight text-gray-900"
                >
                  Amina K.
                </h3>
                <p class="text-sm text-gray-500">Dubai</p>
              </div>
            </div>
            <blockquote class="leading-7 text-gray-700">
              I was on oxygen full-time. After my treatment in Turkey through
              BreatheBetter, I walk unaided. I’m breathing again.
            </blockquote>
          </div>
        </div>
        <div
          class="flex flex-col justify-between rounded-2xl bg-white p-8 shadow-lg ring-1 ring-gray-900/5"
        >
          <div>
            <div class="mb-6 flex items-center gap-x-4">
              <img
                class="h-16 w-16 rounded-full bg-gray-50"
                src="assets/images/patient3.B8vk0Ii-.jpg"
                alt="Elena P."
              />
              <div>
                <h3
                  class="text-lg leading-6 font-semibold tracking-tight text-gray-900"
                >
                  Elena P.
                </h3>
                <p class="text-sm text-gray-500">London</p>
              </div>
            </div>
            <blockquote class="leading-7 text-gray-700">
              My father received care that felt VIP. And we saved over $60,000.
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
