<section
  class="bg-gradient-to-br from-blue-100 via-white to-purple-100 px-4 py-16 sm:px-6 lg:px-8"
>
  <div class="rounded-2xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-brandColorPrimary text-2xl font-semibold">
        Talk to a COPD Support Specialist
      </h2>
      <p class="mt-2 text-sm text-gray-600">
        Fill out the form and we'll call you back shortly
      </p>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate
      class="mx-auto mt-8 grid max-w-3xl gap-4 sm:grid-cols-2"
    >
      <input
        type="text"
        name="name"
        id="name"
        formControlName="name"
        autocomplete="given-name"
        placeholder="Full name"
        class="focus:outline-brandColorPrimary rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 placeholder-gray-400 lg:col-span-2"
      />
      <input
        type="text"
        name="phone"
        formControlName="phone"
        id="phone"
        placeholder="+1 123-456-7890"
        class="focus:outline-brandColorPrimary rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 placeholder-gray-400 lg:col-span-2"
      />
      <input
        type="text"
        name="email"
        id="email"
        formControlName="email"
        placeholder="Email"
        class="focus:outline-brandColorPrimary rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 placeholder-gray-400 lg:col-span-2"
      />
      <textarea
        name="message"
        id="message"
        rows="3"
        placeholder="Your message"
        class="focus:outline-brandColorPrimary rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 placeholder-gray-400 lg:col-span-2"
      ></textarea>
      <button
        [disabled]="form.invalid"
        type="submit"
        class="bg-brandColorPrimary focus:outline-brandColorPrimary hover:bg-brandColorPrimaryHover mt-2 w-full rounded-md px-4 py-2 text-sm font-semibold text-white disabled:opacity-50 lg:col-span-2"
      >
        Let's talk
      </button>
    </form>
  </div>
</section>
