@import "tailwindcss";

:root {
  --brandColorPrimary: rgb(0 57 91 / var(--tw-bg-opacity, 1));
  --brandColorPrimaryHover: #01578a;
  --brandColorSecondaryHover: #d1d1d1;
}

@theme {
  --color-brandColorPrimary: var(--brandColorPrimary);
  --color-brandColorPrimaryHover: var(--brandColorPrimaryHover);
  --color-brandColorSecondaryHover: var(--brandColorSecondaryHover);
}
